<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Zen.Barcode.Core" version="2.0.0" targetFramework="net45" />
  <package id="Zen.Barcode.Core.Code128" version="3.1.0" targetFramework="net45" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net45" />
  <package id="Zen.Barcode.Rendering.Framework.Web" version="3.1.10729.1" targetFramework="net45" />
</packages>