<h2>Demo QCode Generator with logo!</h2>
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.Label("Input Token : ") @Html.TextBox("token")
        <input type="submit" value="Make QRCode" />
    }
    @if (ViewData["gen"] != null)
    {
        if ((bool)ViewData["gen"] == true)
        {
<p>
    <img src='@Url.Action("Imagez","Home",new { token = (String)ViewData["token"]})' alt="" />

</p>
}
}

</div>
